<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.modaptix.org/mumads/dsl/mpadl/Mpadl" 
       class = "org.modaptix.mumads.dsl.mpadl.mpadl.MpadlPackage"
       genModel = "model/declared/Mpadl.genmodel" /> 
	
  </extension>

</plugin>
